@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes gradient-move {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .bg-animated-gradient {
        background: linear-gradient(270deg, #4f46e5, #9333ea, #ec4899, #f43f5e);
        background-size: 800% 800%;
        animation: gradient-move 10s ease infinite;
    }
}
